################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ITECC05_proj/ITECC05_proj.sln
